@charset "UTF-8";
/* 回答はここから */
.inlinebox{
  display: inline-block;
  width: 200px;
  padding: 20px 0;
  background: #fff;
  font-size: 16px;
}

.alignbox{
  text-align: center;
}

.textalign{
  display: inline-block;
  padding: 10px;
  background: #a4b3e9;
}

.margintext{
  width: 90px;
  padding: 10px;
  background: #a4b3e9;
  margin: 0 auto;
  text-align: center;
}

.a-table {
  display: table;
}

.table{
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}

.text-table{
  padding: 10px;
  background: #fff;
  display: inline-block;
}

.a-flex{
  display: flex;
}