@charset "UTF-8";

.flex--box{
  display: flex;
}

.flex--item{
  background: #0bd;
  width: 65px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  color: #fff;
}

.flex--box--reverse{
  display: flex;
  flex-direction: row-reverse;
}

.flex--box--column{
  display: flex;
  flex-flow: column;
}

.flex--box--column-reverse{
  display: flex;
  flex-direction: column-reverse;
}

.flex--box--nowrap{
  display: flex;
  flex-wrap: nowrap;
}

.flex--box--wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex--box--wrap-reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}

.flex--box--flex-start{
  display: flex;
  justify-content: flex-start;
}

.flex--box--flex-end{
  display: flex;
  justify-content: flex-end;
}

.flex--box--center{
  display: flex;
  justify-content: center;
}

.flex--box--space-between{
  display: flex;
  justify-content: space-between;
}

.flex--box--space-around{
  display: flex;
  justify-content: space-around;
}