@charset "UTF-8";

.flex--box{
  display: flex;
}

.flex--item{
  background: #0bd;
  width: 65px;
  padding: 10px;
  margin: 10px;
  text-align: center;
  color: #fff;
}

.flex--box--reverse{
  display: flex;
  flex-direction: row-reverse;
}

.flex--box--column{
  display: flex;
  flex-flow: column;
}

.flex--box--column-reverse{
  display: flex;
  flex-direction: column-reverse;
}

.flex--box--nowrap{
  display: flex;
  flex-wrap: nowrap;
}

.flex--box--wrap{
  display: flex;
  flex-wrap: wrap;
}

.flex--box--wrap-reverse{
  display: flex;
  flex-wrap: wrap-reverse;
}

.flex--box--flex-start{
  display: flex;
  justify-content: flex-start;
}

.flex--box--flex-end{
  display: flex;
  justify-content: flex-end;
}

.flex--box--center{
  display: flex;
  justify-content: center;
}

.flex--box--space-between{
  display: flex;
  justify-content: space-between;
}

.flex--box--space-around{
  display: flex;
  justify-content: space-around;
}

.grid--item{
  background: #0bd;
  color: #fff;
  padding: 10px;
}

.grid--box--template{
  display: grid;
  grid-template-columns: 200px 200px 200px;
  column-gap: 10px;
  row-gap: 10px;
}
.grid--box--fr{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
}

.grid--box--rows{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
}

.grid--box--color{
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 10px;
  row-gap: 10px;
  margin-top: 20px;
}

.red-box{
  background: #dd0700;
  grid-column: 1/3;
}

.green-box{
  background: #0bdd00;
  grid-row: 2/4;
}

.yellow-box{
  background: #d9dd00;
  grid-column: 2/4;
}