@charset "UTF-8";

.sub--box{
  display: table;
  width: 100%;
}

.main--box{
  display: table-cell;
  text-align: center;
  padding: 20px;
}

.red--box{
  background: #ff7b7b;
  width: 300px;
}

.blue--box{
  background: #7b86ff;
}

.yellow--box{
  background: #fff27b;
  width: 300px;
}

.green--box{
  background: #7bff91;
}

.pink--box{
  background: #ff7be2;
  width: 400px;
}

.orange--box{
  background: #ffc67b;
  width: 400px;
}

.lightblue--box{
  background: #7bf2ff;
}
.sub--box:nth-child(n+2){
  margin-top: 50px;
}