@charset "UTF-8";
.cell--table {
  table-layout: fixed;
  width: 100%;
}

.cell--table th {
  background: #319c4a;
  line-height: 26px;
}
.cell--table td {
  line-height: 22px;
  padding: 10px;
  text-align: center;
}

.cell--table tr{
  background: #d5ffc7;
}

.cell--table th, .cell--table td {
  border: 1px solid #000000;
  font-size: 18px;
}

.cell--table  tr:nth-child(even){
  background: #bcbcbc;
}