@charset "UTF-8";
.cell--table {
  table-layout: fixed;
  width: 100%;
}

.cell--table th {
  background: #319c4a;
  text-align: center;
}
.item2 {
  border: 1px solid grey;
  padding: 3px 10px;
  background: #d5ffc7;
  text-align: center;
  width: 100px;
}
.item3 {
  border: 1px solid grey;
  padding: 3px 10px;
  background: #bcbcbc;
}