@charset "UTF-8";
/* 回答はここから */
.cardlist{
  display: flex;
  justify-content: center;
}

.card{
  background: #d2b48c;
  margin: 30px;
  padding: 10px;
  outline: 10px solid#655;
  border-radius: 13px;
  width: 200px;
  box-shadow: 0 0 0 6px #655;
  list-style: none;
}